<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>About Us</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="nav-title">
          <h3>Matrimonial Web</h3>
        </div>
        <div class="nav-list">
          <ul>
              <li><a th:href="@{/index}" >Home</a></li>
            <li><a th:href="@{/about}" >About Us</a></li>
            <li><a th:href="@{/explore}" >Search Your Match</a></li>
            <li><a th:href="@{/contact}" >Contact Us</a></li>
            <li><a th:href="@{/userProfile}">Profile</a></li>
          </ul>
        </div>
      </div>
      
      <!--   banner with text -->
      <div
        class="banner"
        style="background-image: url('/img/banner2.jfif')"
      >
        <div class="banner-social-list">
          <ul>
            <li>
              <a><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a><i class="fa-brands fa-google-plus-g"></i></a>
            </li>
            <li>
              <a><i class="fa-brands fa-tiktok"></i></a>
            </li>
          </ul>
        </div>
        <h2 class="banner-title">About Us</h2>
      </div>

      <div class="about-text">
        <h1>RelationShips are at the Core of Everything we do.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
          aliquam rerum consequuntur accusamus dignissimos hic non eum corporis
          debitis reiciendis temporibus vitae assumenda accusantium nobis soluta
          blanditiis ullam minus dolores nihil exercitationem doloribus sequi
          porro libero? Ut animi iusto, magni, expedita ullam aliquam fuga quia
          nemo tenetur tempora debitis. Ipsum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            aliquam rerum consequuntur accusamus dignissimos hic non eum corporis
            debitis reiciendis temporibus vitae assumenda accusantium nobis soluta
            blanditiis ullam minus dolores nihil exercitationem doloribus sequi
            porro libero? Ut animi iusto, magni, expedita ullam aliquam fuga quia
            nemo tenetur tempora debitis. Ipsum.
          </p>
      </div>

      <div class="about-team">
        <h1>We have best team members...</h1>
        <div class="about-team-section">
            <div class="card">
                <img src="/img/pro1.jfif" alt="">
                <h4>jenish desai</h4>
            </div>
            <div class="card">
                <img src="/img/pro2.jfif" alt="">
                <h4>linda jones</h4>
            </div>
            <div class="card">
                <img src="/img/pro3.jfif" alt="">
                <h4>scott evans</h4>
            </div>
            <div class="card">
                <img src="/img/pro4.jfif" alt="">
                <h4>anna parker</h4>
            </div>
        </div>
      </div>

      <div class="footer">
        <h1>Matrimonial Web</h1>
        <p>&#169; Copyright. All Copyright is reserved.</p>
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/javascript/scrollreveal.js"></script>
  </body>
</html>
